---
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>About - Astronomy</title>
	</head>
	<body>
		<a href='/'>Home</a>
		<a href='/about/'>About</a>
		<a href='/blog/'>Blog</a>

		<h1>About Astronomy</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut sequi voluptates, mollitia assumenda ipsam maiores
			rem minus et omnis tenetur nisi amet quia voluptatum ipsum, vero optio nesciunt inventore odit. Lorem ipsum dolor
			sit amet consectetur adipisicing elit. Veritatis omnis, nihil dicta eligendi accusamus voluptatibus.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, omnis! Ab, provident iusto. Omnis natus
			repellendus inventore ducimus laborum laboriosam, voluptate, rerum facere suscipit nulla ab minus iusto quas!
			Debitis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, voluptates. Soluta mollitia aut
			vero animi totam aperiam veniam maxime labore. Quasi, asperiores atque error tenetur quidem rerum reiciendis
			soluta doloribus commodi dolorem tempore explicabo perferendis? Reiciendis doloribus provident perferendis, quia
			culpa voluptatibus odio, pariatur consequatur, dicta magnam hic fugit sint.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos a, non omnis repellendus amet maiores praesentium
			animi dolorem deleniti rerum officiis fuga quod molestiae expedita accusamus velit? Dolores, quaerat, provident
			praesentium ratione veniam maxime, vitae aliquid iure perferendis placeat voluptate?
		</p>
	</body>
</html>
