---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");

const pageTitle = "Astronomy Blog";
---

<BaseLayout pageTitle={pageTitle}>
	<article>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut sequi voluptates, mollitia assumenda ipsam maiores
			rem minus et omnis tenetur nisi amet quia voluptatum ipsum, vero optio nesciunt inventore odit. Lorem ipsum dolor
			sit amet consectetur adipisicing elit. Veritatis omnis, nihil dicta eligendi accusamus voluptatibus.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, omnis! Ab, provident iusto. Omnis natus
			repellendus inventore ducimus laborum laboriosam, voluptate, rerum facere suscipit nulla ab minus iusto quas!
			Debitis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, voluptates. Soluta mollitia aut
			vero animi totam aperiam veniam maxime labore. Quasi, asperiores atque error tenetur quidem rerum reiciendis
			soluta doloribus commodi dolorem tempore explicabo perferendis? Reiciendis doloribus provident perferendis, quia
			culpa voluptatibus odio, pariatur consequatur, dicta magnam hic fugit sint.
		</p>
	</article>
	<hr />
	<ul>
		{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
	</ul>
</BaseLayout>
