---
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Blog - Astronomy</title>
	</head>
	<body>
		<a href='/'>Home</a>
		<a href='/about/'>About</a>
		<a href='/blog/'>Blog</a>

		<h1>Astronomy Blog</h1>
		<article>
			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut sequi voluptates, mollitia assumenda ipsam maiores
				rem minus et omnis tenetur nisi amet quia voluptatum ipsum, vero optio nesciunt inventore odit. Lorem ipsum
				dolor sit amet consectetur adipisicing elit. Veritatis omnis, nihil dicta eligendi accusamus voluptatibus.
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, omnis! Ab, provident iusto. Omnis natus
				repellendus inventore ducimus laborum laboriosam, voluptate, rerum facere suscipit nulla ab minus iusto quas!
				Debitis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, voluptates. Soluta mollitia aut
				vero animi totam aperiam veniam maxime labore. Quasi, asperiores atque error tenetur quidem rerum reiciendis
				soluta doloribus commodi dolorem tempore explicabo perferendis? Reiciendis doloribus provident perferendis, quia
				culpa voluptatibus odio, pariatur consequatur, dicta magnam hic fugit sint.
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos a, non omnis repellendus amet maiores praesentium
				animi dolorem deleniti rerum officiis fuga quod molestiae expedita accusamus velit? Dolores, quaerat, provident
				praesentium ratione veniam maxime, vitae aliquid iure perferendis placeat voluptate?
			</p>
		</article>
		<hr />
		<article>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod sed ducimus distinctio iusto dolore consequuntur,
				est consectetur maiores odio qui sapiente, omnis possimus rem enim officiis molestias officia in voluptate
				veritatis obcaecati quia illo, eligendi recusandae voluptatum! Corporis, non quibusdam.
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptate incidunt explicabo. Non fugit suscipit
				minima temporibus expedita vel cumque quibusdam veritatis delectus iusto quam veniam nostrum est laudantium
				ullam, ea eius. Quibusdam consectetur ipsum dolorum minima officiis ullam in iste mollitia fugit facilis,
				reprehenderit dolorem rerum quisquam natus illum non animi nobis unde earum! Expedita, doloribus tempora quidem
				nulla distinctio eos placeat voluptatibus ea adipisci accusantium error officiis recusandae architecto rem
				minima perspiciatis illum autem impedit nam qui maiores, magni repellendus? Dolorum quae, iure nihil amet quo
				cumque, ipsam, vitae ad ullam eum perferendis. Repellat cum voluptatibus similique nulla.
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia officia nihil tempore dolores suscipit
				corporis voluptatibus numquam facere maxime repudiandae. Libero ducimus iusto saepe ullam, eius aperiam omnis
				laboriosam placeat? Reiciendis dolore unde inventore sequi mollitia voluptas est! Est suscipit sit pariatur
				perferendis ad? Iste odio soluta quos assumenda et animi tempore. Doloribus quae excepturi velit illum eaque,
				impedit eum.
			</p>
		</article>
	</body>
</html>
